:root {
	--background: #ffffff;
	--foreground: #171717;
	--foreground-secondary: #757575;
	--positive: #14ae5c;
	--foreground-positive: #ebffee;
	--positive-secondary: #02542d;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.hero {
	/* Title Hero */
	font-weight: 700;
	font-size: 72px;
	line-height: 120%;
	/* o 86px */
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.03em;
}

.subtitle {
	/* Title Page */
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
}

.heading {
	font-weight: 400;
	font-size: 32px;
	line-height: 120%;
	/* o 38px */
	display: flex;
	align-items: center;
	text-align: center;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	padding: 40px 200px;
}
