.container {
	/* Diseño automático */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 40px;
	gap: 40px;

	background: #ffffff;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

	list-style: none;
	color: var(--foreground);
}
