.container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    
    padding: 20px 40px;
    gap: 40px;

    background: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

    list-style: none;
    color: var(--foreground);

    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000; 
}