.card {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;
	gap: 20px;
	background: #ffffff;
	width: 100%;
}

.img {
	width: 250px;
	height: 250px;
	border-radius: 50px;
	flex: none;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
	gap: 10px;
	flex: none;
	align-self: stretch;
	flex-grow: 1;
}

.selected {
	background-color: var(--positive);
	color: var(--foreground-positive);
}

.selected h3 {
	color: var(--positive-secondary);
}
